.bz-buttonAnimat {
	position: relative
}

.bz-buttonAnimat .inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.bz-buttonAnimat:before,
.bz-buttonAnimat:after,
.bz-buttonAnimat .inner:before,
.bz-buttonAnimat .inner:after {
	background-color: #3385ff
}

.bz-buttonAnimat:nth-of-type(1):before,
.bz-buttonAnimat:nth-of-type(1):after,
.bz-buttonAnimat:nth-of-type(1) .inner:before,
.bz-buttonAnimat:nth-of-type(1) .inner:after {
	background-color: #ffa726
}

.bz-buttonAnimat:nth-of-type(2):before,
.bz-buttonAnimat:nth-of-type(2):after,
.bz-buttonAnimat:nth-of-type(2) .inner:before,
.bz-buttonAnimat:nth-of-type(2) .inner:after {
	background-color: #26a69a
}

.bz-buttonAnimat:nth-of-type(3):before,
.bz-buttonAnimat:nth-of-type(3):after,
.bz-buttonAnimat:nth-of-type(3) .inner:before,
.bz-buttonAnimat:nth-of-type(3) .inner:after {
	background-color: #7e57c2
}

/* .bz-buttonAnimat:nth-of-type(4):before,
.bz-buttonAnimat:nth-of-type(4):after,
.bz-buttonAnimat:nth-of-type(4) .inner:before,
.bz-buttonAnimat:nth-of-type(4) .inner:after {
	background-color: #3385ff
} */

.bz-buttonAnimat:before,
.bz-buttonAnimat:after,
.bz-buttonAnimat .inner:before,
.bz-buttonAnimat .inner:after {
	position: absolute;
	content: "";
	display: block;
	-webkit-transition: -webkit-transform .3s;
	transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s
}

.bz-buttonAnimat.horizontal:before,
.bz-buttonAnimat.horizontal:after,
.bz-buttonAnimat.both:before,
.bz-buttonAnimat.both:after {
	left: 0;
	width: 100%;
	height: 2px;
	-webkit-transform: scaleX(0);
	transform: scaleX(0)
}

.bz-buttonAnimat.horizontal .inner:before,
.bz-buttonAnimat.horizontal .inner:after,
.bz-buttonAnimat.both .inner:before,
.bz-buttonAnimat.both .inner:after {
	top: 0;
	width: 2px;
	height: 100%;
	-webkit-transform: scaleY(0);
	transform: scaleY(0)
}

.bz-buttonAnimat.horizontal .inner:before,
.bz-buttonAnimat.both .inner:before {
	left: 0
}

.bz-buttonAnimat.horizontal .inner:after,
.bz-buttonAnimat.both .inner:after {
	right: 0
}

.bz-buttonAnimat.horizontal .inner:hover:before,
.bz-buttonAnimat.horizontal .inner:hover:after,
.bz-buttonAnimat.both .inner:hover:before,
.bz-buttonAnimat.both .inner:hover:after {
	-webkit-transform: scaleY(1);
	transform: scaleY(1)
}

.bz-buttonAnimat.horizontal:before,
.bz-buttonAnimat.both:before {
	top: 0
}

.bz-buttonAnimat.horizontal:after,
.bz-buttonAnimat.both:after {
	bottom: 0
}

.bz-buttonAnimat.horizontal:hover:before,
.bz-buttonAnimat.horizontal:hover:after,
.bz-buttonAnimat.both:hover:before,
.bz-buttonAnimat.both:hover:after {
	-webkit-transform: scaleX(1);
	transform: scaleX(1)
}

.bz-buttonAnimat.horizontal:hover .inner:before,
.bz-buttonAnimat.horizontal:hover .inner:after,
.bz-buttonAnimat.both:hover .inner:before,
.bz-buttonAnimat.both:hover .inner:after {
	-webkit-transform: scaleY(1);
	transform: scaleY(1)
}

.bz-buttonAnimat.horizontal.clockwise .inner:before,
.bz-buttonAnimat.both.clockwise .inner:before {
	-webkit-transform-origin: top center;
	transform-origin: top center
}

.bz-buttonAnimat.horizontal.clockwise .inner:after,
.bz-buttonAnimat.both.clockwise .inner:after {
	-webkit-transform-origin: bottom center;
	transform-origin: bottom center
}

.bz-buttonAnimat.horizontal.clockwise:before,
.bz-buttonAnimat.both.clockwise:before {
	-webkit-transform-origin: right center;
	transform-origin: right center
}

.bz-buttonAnimat.horizontal.clockwise:after,
.bz-buttonAnimat.both.clockwise:after {
	-webkit-transform-origin: left center;
	transform-origin: left center
}

.bz-buttonAnimat.horizontal.clockwise:hover .inner:before,
.bz-buttonAnimat.both.clockwise:hover .inner:before {
	-webkit-transform-origin: bottom center;
	transform-origin: bottom center
}

.bz-buttonAnimat.horizontal.clockwise:hover .inner:after,
.bz-buttonAnimat.both.clockwise:hover .inner:after {
	-webkit-transform-origin: top center;
	transform-origin: top center
}

.bz-buttonAnimat.horizontal.clockwise:hover:before,
.bz-buttonAnimat.both.clockwise:hover:before {
	-webkit-transform-origin: left center;
	transform-origin: left center
}

.bz-buttonAnimat.horizontal.clockwise:hover:after,
.bz-buttonAnimat.both.clockwise:hover:after {
	-webkit-transform-origin: right center;
	transform-origin: right center
}

.bz-buttonAnimat.horizontal.counterclockwise .inner:before,
.bz-buttonAnimat.both.counterclockwise .inner:before {
	-webkit-transform-origin: bottom center;
	transform-origin: bottom center
}

.bz-buttonAnimat.horizontal.counterclockwise .inner:after,
.bz-buttonAnimat.both.counterclockwise .inner:after {
	-webkit-transform-origin: top center;
	transform-origin: top center
}

.bz-buttonAnimat.horizontal.counterclockwise:before,
.bz-buttonAnimat.both.counterclockwise:before {
	-webkit-transform-origin: left center;
	transform-origin: left center
}

.bz-buttonAnimat.horizontal.counterclockwise:after,
.bz-buttonAnimat.both.counterclockwise:after {
	-webkit-transform-origin: right center;
	transform-origin: right center
}

.bz-buttonAnimat.horizontal.counterclockwise:hover .inner:before,
.bz-buttonAnimat.both.counterclockwise:hover .inner:before {
	-webkit-transform-origin: top center;
	transform-origin: top center
}

.bz-buttonAnimat.horizontal.counterclockwise:hover .inner:after,
.bz-buttonAnimat.both.counterclockwise:hover .inner:after {
	-webkit-transform-origin: bottom center;
	transform-origin: bottom center
}

.bz-buttonAnimat.horizontal.counterclockwise:hover:before,
.bz-buttonAnimat.both.counterclockwise:hover:before {
	-webkit-transform-origin: right center;
	transform-origin: right center
}

.bz-buttonAnimat.horizontal.counterclockwise:hover:after,
.bz-buttonAnimat.both.counterclockwise:hover:after {
	-webkit-transform-origin: left center;
	transform-origin: left center
}

.bz-buttonAnimat.vertical:before,
.bz-buttonAnimat.vertical:after {
	top: 0;
	width: 2px;
	height: 100%;
	-webkit-transform: scaleY(0);
	transform: scaleY(0)
}

.bz-buttonAnimat.vertical:before {
	left: 0
}

.bz-buttonAnimat.vertical:after {
	right: 0
}

.bz-buttonAnimat.vertical:hover:before,
.bz-buttonAnimat.vertical:hover:after {
	-webkit-transform: scaleY(1);
	transform: scaleY(1)
}

.bz-buttonAnimat.vertical.clockwise:before {
	-webkit-transform-origin: top center;
	transform-origin: top center
}

.bz-buttonAnimat.vertical.clockwise:after {
	-webkit-transform-origin: bottom center;
	transform-origin: bottom center
}

.bz-buttonAnimat.vertical.clockwise:hover:before {
	-webkit-transform-origin: bottom center;
	transform-origin: bottom center
}

.bz-buttonAnimat.vertical.clockwise:hover:after {
	-webkit-transform-origin: top center;
	transform-origin: top center
}

.bz-buttonAnimat.vertical.counterclockwise:before {
	-webkit-transform-origin: bottom center;
	transform-origin: bottom center
}

.bz-buttonAnimat.vertical.counterclockwise:after {
	-webkit-transform-origin: top center;
	transform-origin: top center
}

.bz-buttonAnimat.vertical.counterclockwise:hover:before {
	-webkit-transform-origin: top center;
	transform-origin: top center
}

.bz-buttonAnimat.vertical.counterclockwise:hover:after {
	-webkit-transform-origin: bottom center;
	transform-origin: bottom center
}